<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="commonJs">
        <script src="/res/vue/vue.min.js"></script>
        <script src="/res/element-ui/index.js"></script>
        <script src="/res/qs/qs.min.js"></script>
        <script src="/res/axios/axios.min.js"></script>
        <script src="/res/clipboard/clipboard.min.js"></script>
        <script src="/res/js/application.js?v=2.5.0"></script>
        <script src="/res/js/vue-init.js?v=1.0.0"></script>
        <script src="/res/js/axios-init.js?v=2.7.0"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const basePath = [[${basePath}]];
            axios.defaults.baseURL = basePath;
            /*]]>*/
        </script>
    </div>
</body>
</html>