<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link href="/res/css/custom.css?v=1.0.0" rel="stylesheet">
    <link href="/res/element-ui/theme-chalk/index.css" rel="stylesheet">
    <link href="/res/element-ui/theme-chalk/display.css" rel="stylesheet">
    <link href="/res/icon/iconfont.css?v=1.0.0" rel="stylesheet">
</head>
</html>