<!DOCTYPE html>
<html>
<!--<head th:include="common/common_head :: commonHead('v2ray账号')"></head>-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v2ray账号</title>
    <link href="/res/css/custom.css?v=1.0.0" rel="stylesheet">
    <link href="/res/element-ui/theme-chalk/index.css" rel="stylesheet">
    <link href="/res/element-ui/theme-chalk/display.css" rel="stylesheet">
    <link href="/res/icon/iconfont.css?v=1.0.0" rel="stylesheet">
</head>
<body>
<style>
    @media only screen and (max-width: 768px) {
        .el-col + .el-col {
            margin-top: 10px;
        }
    }
    .el-row + .el-row {
        margin-top: 10px;
    }

    .el-card + .el-card {
        margin-top: 10px;
    }
</style>

<el-container id="app" v-cloak>
    <!--<el-header th:replace="v2ray/header :: header"></el-header>-->
    <el-header style="background-color: #409EFF;">
        <!--<span>SPROV-UI</span>-->
        <el-menu class="hidden-xs-only"
                 :default-active="defaultActive"
                 mode="horizontal"
                 background-color="#409EFF"
                 text-color="#fff"
                 active-text-color="#FFE904"
                 @select="menuSelect">
            <el-menu-item index="/v2ray/">运行状态</el-menu-item>
            <el-menu-item index="/v2ray/accounts/">账号列表</el-menu-item>
            <el-menu-item index="/v2ray/clients/">客户端</el-menu-item>
        </el-menu>
        <el-dropdown class="hidden-sm-and-up"
                     @command="menuSelect"
                     style="margin-top: 20px; color: white;">
        <span class="el-dropdown-link">
            菜单 <i class="el-icon-arrow-down"></i>
        </span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="/v2ray/">运行状态</el-dropdown-item>
                <el-dropdown-item command="/v2ray/accounts/">账号列表</el-dropdown-item>
                <el-dropdown-item command="/v2ray/clients/">客户端</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-header>
    <el-main>
        <el-row style="margin-bottom: 10px">
            <el-col>
                <el-alert title="修改完配置记得重启v2ray" type="warning" :closable="false"></el-alert>
            </el-col>
        </el-row>
        <el-row style="margin-bottom: 10px">
            <el-col>
                <el-alert title="使用方法：点【添加】来增加一个账号，添加或修改账号之后点【重启】来使配置生效，不想用了可以点【关闭】，若关闭后想再次开启，点【重启】即可" type="warning" :closable="false"></el-alert>
            </el-col>
        </el-row>
        <!--<el-row style="margin-bottom: 10px">-->
            <!--<el-col>-->
                <!--<el-alert title="点击每个标签都可以复制里面的内容" type="error" :closable="false"></el-alert>-->
            <!--</el-col>-->
        <!--</el-row>-->
        <el-card>
            <div slot="header">
                <el-button type="success" size="mini" @click="openAdd">添加</el-button>
                <el-button type="primary" size="mini" @click="restart">重启</el-button>
                <el-button type="danger" size="mini" @click="stop">关闭</el-button>
            </div>
            <div v-for="inbound in inbounds" style="margin-top: 10px;">
                <!-- vmess -->
                <el-card v-if="inbound.protocol === 'vmess'"
                         v-for="(client, index) in inbound.settings.clients">
                    <div slot="header">
                        <el-tag type="success">{{ inbound.protocol }}</el-tag>
                        <el-button type="primary" size="mini" icon="el-icon-edit" @click="openEdit(inbound, client)"></el-button>
                        <el-button type="danger" size="mini" icon="el-icon-delete" style="margin-left: 0" @click="del(inbound)"></el-button>
                    </div>
                    <el-row>
                        <el-col :sm="12">
                            <el-button class="clipboard" type="primary" size="mini" :data-clipboard-text="vmessLink(inbound, client)">复制vmess链接</el-button>
                        </el-col>
                        <el-col :sm="12">
                            <el-button type="primary" size="mini" @click="showQrCode(vmessLink(inbound, client))">二维码</el-button>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :sm="12">
                            IP：<el-tag>{{ ip }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            端口：<el-tag>{{ inbound.port }}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :sm="12">
                            用户ID：<el-tag>{{ client.id }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            额外id（alterId）：<el-tag>{{ client.alterId }}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :sm="12">
                            <!--加密：<el-tag>{{ client.security ? client.security : 'auto' }}</el-tag>-->
                            加密：<el-tag>auto</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            传输协议：<el-tag>{{ inbound.streamSettings.network }}</el-tag>
                        </el-col>
                    </el-row>
                    <!-- kcp -->
                    <el-row v-if="inbound.streamSettings.network === 'kcp'">
                        <el-col :sm="12">
                            伪装类型：<el-tag>{{ inbound.streamSettings.kcpSettings.header.type }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            上行/下行链路容量：
                            <el-tag>
                                {{ inbound.streamSettings.kcpSettings.uplinkCapacity }} /
                                {{ inbound.streamSettings.kcpSettings.downlinkCapacity }}
                            </el-tag>
                        </el-col>
                    </el-row>
                    <!-- ws -->
                    <el-row v-if="inbound.streamSettings.network === 'ws'">
                        <el-col :sm="12">
                            路径：<el-tag>{{ inbound.streamSettings.wsSettings.path }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            HTTP 头：
                            <span v-if="JSON.stringify(inbound.streamSettings.wsSettings.headers) === '{}'">无</span>
                            <el-button v-else type="text" @click="showHeaders(inbound.streamSettings.wsSettings.headers)">查看</el-button>
                        </el-col>
                    </el-row>
                    <el-row v-if="!isEmpty(inbound.tag)">
                        <el-col :sm="12">
                            tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                        </el-col>
                    </el-row>
                </el-card>
                <el-card v-if="inbound.protocol === 'shadowsocks'
                                || inbound.protocol === 'dokodemo-door'
                                || inbound.protocol === 'mtproto'">
                    <div slot="header">
                        <el-tag type="primary">{{ inbound.protocol }}</el-tag>
                        <el-button type="success" size="mini" icon="el-icon-edit" @click="openEdit(inbound)"></el-button>
                        <el-button type="danger" size="mini" icon="el-icon-delete" style="margin-left: 0" @click="del(inbound)"></el-button>
                    </div>
                    <!-- shadowsocks -->
                    <div v-if="inbound.protocol === 'shadowsocks'">
                        <el-row>
                            <el-col :sm="12">
                                <el-button class="clipboard" type="primary" size="mini" :data-clipboard-text="ssLink(inbound)">复制ss链接</el-button>
                            </el-col>
                            <el-col :sm="12">
                                <el-button type="primary" size="mini" @click="showQrCode(ssLink(inbound))">二维码</el-button>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                IP：<el-tag>{{ ip }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                端口：<el-tag>{{ inbound.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                加密：<el-tag>{{ inbound.settings.method }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                密码：<el-tag>{{ inbound.settings.password }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                网络：<el-tag>{{ inbound.settings.network ? inbound.settings.network : 'tcp' }}</el-tag>
                            </el-col>
                            <el-col v-if="!isEmpty(inbound.tag)" :sm="12">
                                tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                            </el-col>
                        </el-row>
                    </div>
                    <!-- dokodemo-door -->
                    <div v-if="inbound.protocol === 'dokodemo-door'">
                        <el-row>
                            <el-col :sm="12">
                                IP：<el-tag>{{ ip }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                端口：<el-tag>{{ inbound.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                转发的地址：<el-tag>{{ inbound.settings.address }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                转发的端口：<el-tag>{{ inbound.settings.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                转发的底层协议：<el-tag>{{ inbound.settings.network ? inbound.settings.network : 'tcp' }}</el-tag>
                            </el-col>
                            <el-col v-if="!isEmpty(inbound.tag)" :sm="12">
                                tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                            </el-col>
                        </el-row>
                    </div>
                    <!-- mtproto -->
                    <div v-if="inbound.protocol === 'mtproto'">
                        <el-row>
                            <el-col :sm="12">
                                <el-button class="clipboard" type="primary" size="mini" :data-clipboard-text="mtLink(inbound)">复制链接</el-button>
                            </el-col>
                            <el-col :sm="12">
                                <el-button type="primary" size="mini" @click="window.open(mtLink(inbound))">直接打开</el-button>
                                <!--<a :href="mtLink(inbound)" target="_blank">直接打开</a>-->
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                IP：<el-tag>{{ ip }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                端口：<el-tag>{{ inbound.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                密钥：<el-tag>{{ inbound.settings.users[0].secret }}</el-tag>
                            </el-col>
                            <el-col v-if="!isEmpty(inbound.tag)" :sm="12">
                                tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
            </div>
        </el-card>
    </el-main>
    <!--<el-footer th:replace="v2ray/footer :: footer"></el-footer>-->

    <el-dialog :title="inDL.mode === 'add' ? '添加账号' : '修改账号'"
               :visible.sync="inDL.visible"
               width="300px" @close="clearValidates">
        <!-- 基本 -->
        <el-form :model="form" :rules="formRules"
                 ref="inForm" size="small"
                 label-position="top">
            <el-form-item label="选择协议">
                <el-select v-model="form.protocol" :disabled="inDL.mode !== 'add'">
                    <el-option label="vmess" value="vmess"></el-option>
                    <el-option label="shadowsocks" value="shadowsocks"></el-option>
                    <el-option label="dokodemo-door（端口转发）" value="dokodemo-door"></el-option>
                    <el-option label="mtproto（telegram代理）" value="mtproto"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="port">
                <template slot="label">
                    端口
                    <el-button v-if="inDL.mode === 'add'" type="text" size="mini" @click="form.port = randomIntRange(10000,60000)">随机生成</el-button>
                </template>
                <el-input :disabled="inDL.mode !== 'add'" v-model.number="form.port" type="number"></el-input>
            </el-form-item>
        </el-form>
        <!-- VMess 协议 -->
        <el-form v-if="form.protocol === 'vmess'"
                 ref="vmessForm" :rules="vmessRules"
                 :model="vmess" size="small"
                 label-position="top">
            <el-form-item>
                <template slot="label">
                    用户id
                    <el-button type="text" size="mini" @click="vmess.id = randomUUID()">重新生成</el-button>
                </template>
                <el-input v-model="vmess.id" disabled></el-input>
            </el-form-item>
            <el-form-item label="额外id（alterId）" prop="alterId">
                <el-input type="number" v-model.number="vmess.alterId"></el-input>
            </el-form-item>
            <!--<el-form-item label="加密">-->
                <!--<el-select v-model="vmess.security">-->
                    <!--<el-option label="auto（推荐）" value="auto"></el-option>-->
                    <!--<el-option label="aes-128-gcm" value="aes-128-gcm"></el-option>-->
                    <!--<el-option label="chacha20-poly1305" value="chacha20-poly1305"></el-option>-->
                    <!--<el-option label="none（不推荐）" value="none"></el-option>-->
                <!--</el-select>-->
            <!--</el-form-item>-->
        </el-form>
        <!-- shadowsocks 协议 -->
        <el-form v-if="form.protocol === 'shadowsocks'"
                 ref="ssForm" :rules="ssRules"
                 :model="ss" size="small"
                 label-position="top">
            <el-form-item label="加密">
                <el-select v-model="ss.method">
                    <el-option value="chacha20"></el-option>
                    <el-option value="chacha20-ietf"></el-option>
                    <el-option value="chacha20-ietf-poly1305"></el-option>
                    <el-option value="aes-256-gcm"></el-option>
                    <el-option value="aes-128-gcm"></el-option>
                    <el-option label="aes-256-cfb（不推荐）" value="aes-256-cfb"></el-option>
                    <el-option label="aes-128-cfb（不推荐）" value="aes-128-cfb"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="password">
                <template slot="label">
                    密码
                    <el-button type="text" size="mini" @click="ss.password = randomSeq(10)">随机生成</el-button>
                </template>
                <el-input v-model.trim="ss.password"></el-input>
            </el-form-item>
            <el-form-item label="网络">
                <el-select v-model="ss.network">
                    <el-option label="tcp + udp" value="tcp,udp"></el-option>
                    <el-option value="tcp"></el-option>
                    <el-option value="udp"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- dokodemo-door 协议 -->
        <el-form v-if="form.protocol === 'dokodemo-door'"
                 ref="dokoForm" :rules="dokoRules"
                 :model="doko" size="small"
                 label-position="top">
            <el-form-item prop="address">
                <template slot="label">
                    目标地址
                    <el-tooltip content="填写一个IP或域名">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-input v-model.trim="doko.address"></el-input>
            </el-form-item>
            <el-form-item label="目标端口" prop="port">
                <el-input type="number" v-model.number="doko.port"></el-input>
            </el-form-item>
            <el-form-item label="底层协议">
                <el-select v-model="doko.network">
                    <el-option label="tcp + udp" value="tcp,udp"></el-option>
                    <el-option value="tcp"></el-option>
                    <el-option value="udp"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- mtproto 协议 -->
        <el-form v-if="form.protocol === 'mtproto'"
                 size="small"
                 label-position="top">
            <el-form-item>
                <template slot="label">
                    密钥
                    <el-button type="text" size="mini" @click="mt.secret = randomMTSecret()">重新生成</el-button>
                </template>
                <el-input :disabled="true" v-model="mt.secret"></el-input>
            </el-form-item>
        </el-form>
        <!-- streamSettings -->
        <el-form v-if="form.protocol === 'vmess'"
                 size="small"
                 label-position="top">
            <el-form-item>
                <template slot="label">
                    底层传输
                    <el-tooltip content="若ip被tcp阻断，可使用kcp">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-select v-model="stream.network">
                    <el-option label="tcp" value="tcp"></el-option>
                    <el-option label="kcp（底层使用udp协议）" value="kcp"></el-option>
                    <el-option label="ws（WebSocket）" value="ws"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- kcp Settings -->
        <el-form v-if="form.protocol === 'vmess' && stream.network === 'kcp'"
                 ref="kcpForm" :rules="kcpRules"
                 :model="kcp" size="small"
                 label-position="top">
            <el-form-item>
                <template slot="label">
                    伪装
                    <el-tooltip content="伪装需谨慎使用，效果可能变好也可能变差">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-select v-model="kcp.type">
                    <el-option label="none（不伪装）" value="none"></el-option>
                    <el-option label="srtp（伪装视频通话数据）" value="srtp"></el-option>
                    <el-option label="utp（伪装BT下载）" value="utp"></el-option>
                    <el-option label="wechat-video（伪装微信视频）" value="wechat-video"></el-option>
                    <el-option label="dtls（伪装DTLS 1.2数据包）" value="dtls"></el-option>
                    <el-option label="wireguard（伪装WireGuard数据包）" value="wireguard"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="uplinkCapacity">
                <template slot="label">
                    上行链接容量（MB/s）
                    <el-tooltip content="决定服务器最大发送数据的速度，推荐设为实际的带宽，当速度不够时，可以逐渐增加，直到带宽的两倍左右">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-input type="number" v-model.number="kcp.uplinkCapacity"></el-input>
            </el-form-item>
            <el-form-item prop="downlinkCapacity">
                <template slot="label">
                    下行链接容量（MB/s）
                    <el-tooltip content="决定服务器最大接收数据的速度，推荐设置为一个较大的值，比如100">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-input type="number" v-model.number="kcp.downlinkCapacity"></el-input>
            </el-form-item>
        </el-form>
        <!-- ws Settings -->
        <el-form v-if="form.protocol === 'vmess' && stream.network === 'ws'"
                 ref="wsForm" :rules="wsRules"
                 :model="ws" size="small"
                 label-position="top">
            <el-form-item prop="path">
                <template slot="label">
                    路径
                    <el-tooltip content="WebSocket 所使用的 HTTP 协议路径">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-input v-model.trim="ws.path"></el-input>
            </el-form-item>
            <el-form-item>
                <template slot="label">
                    HTTP 头
                    <el-tooltip content="自定义 HTTP 头，可添加多个键值对">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-row v-for="(header, index) in ws.headers" type="flex" justify="center">
                    <el-col :span="2">
                        键
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model.trim="header.name"></el-input>
                    </el-col>
                    <el-col :span="2">
                        值
                    </el-col>
                    <el-col :span="12">
                        <el-input v-model.trim="header.value"></el-input>
                    </el-col>
                    <el-col :span="2">
                        <el-button v-if="index > 0 && index === ws.headers.length - 1" type="text" size="mini" icon="el-icon-minus" @click="ws.headers.splice(index, 1)"></el-button>
                    </el-col>
                </el-row>
                <el-row>
                    <el-button type="success" size="mini" icon="el-icon-plus" @click="ws.headers.push({ name: '', value: '' })"></el-button>
                </el-row>
            </el-form-item>
        </el-form>
        <!-- 其它 -->
        <el-form v-if="form.protocol !== 'mtproto'" size="small" label-position="top">
            <el-form-item>
                <template slot="label">
                    tag标识（可选）
                    <el-tooltip content="若不为空则必须唯一，否则会无法连接">
                        <i class="el-icon-question"></i>
                    </el-tooltip>
                </template>
                <el-input v-model.trim="form.tag"></el-input>
            </el-form-item>
        </el-form>
        <el-form size="small" label-position="top">
            <el-form-item>
                <el-button v-if="inDL.mode === 'add'" type="primary" size="small" @click="addInbound(form)" :loading="btnLoad">添加</el-button>
                <el-button v-else type="primary" size="small" @click="editInbound(form)" :loading="btnLoad">修改</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog title="二维码" :visible.sync="qrCodeDL.visible" width="300px">
        <canvas id="qrCode" style="width: 100%; height: 100%;"></canvas>
    </el-dialog>
</el-container>

<!--<div th:replace="common/common_js :: commonJs"></div>-->
<script src="/res/vue/vue.min.js"></script>
<script src="/res/element-ui/index.js"></script>
<script src="/res/qs/qs.min.js"></script>
<script src="/res/axios/axios.min.js"></script>
<script src="/res/clipboard/clipboard.min.js"></script>
<script src="/res/base64/base64.min.js"></script>
<script src="/res/qrcode/qrious.min.js"></script>
<script src="/res/js/application.js?v=2.5.0"></script>
<script src="/res/js/vue-init.js?v=1.0.0"></script>
<script src="/res/js/axios-init.js?v=1.0.0"></script>
<script src="/res/js/v2ray/accounts.js?v=2.5.0"></script>

</body>
</html>