<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head :: commonHead('v2ray账号')"></head>
<body>
<style>
    @media only screen and (max-width: 768px) {
        .el-col + .el-col {
            margin-top: 10px;
        }
    }
    .el-row + .el-row {
        margin-top: 10px;
    }

    .el-card + .el-card {
        margin-top: 10px;
    }
</style>

<el-container id="app" v-cloak>
    <el-header th:replace="v2ray/header :: header"></el-header>
    <el-main>
        <el-row style="margin-bottom: 10px">
            <el-col>
                <el-alert title="修改完配置记得重启v2ray" type="warning" :closable="false"></el-alert>
            </el-col>
        </el-row>
        <el-row style="margin-bottom: 10px">
            <el-col>
                <el-alert title="使用方法：点【添加】来增加一个账号，添加或修改账号之后点【重启】来使配置生效，不想用了可以点【关闭】，若关闭后想再次开启，点【重启】即可" type="warning" :closable="false"></el-alert>
            </el-col>
        </el-row>
        <!--<el-row style="margin-bottom: 10px">-->
            <!--<el-col>-->
                <!--<el-alert title="点击每个标签都可以复制里面的内容" type="error" :closable="false"></el-alert>-->
            <!--</el-col>-->
        <!--</el-row>-->
        <el-card>
            <div slot="header">
                <el-button type="success" size="mini" @click="openAdd">添加</el-button>
                <el-button type="primary" size="mini" @click="restart">重启</el-button>
                <el-button type="danger" size="mini" @click="stop">关闭</el-button>
            </div>
            <div v-for="inbound in inbounds" style="margin-top: 10px;">
                <!-- vmess -->
                <el-card v-if="inbound.protocol === 'vmess'"
                         v-for="(client, index) in inbound.settings.clients">
                    <div slot="header">
                        <el-tag type="success">{{ inbound.protocol }}</el-tag>
                        <el-button type="primary" size="mini" icon="el-icon-edit" @click="openEdit(inbound, client)"></el-button>
                        <el-button type="danger" size="mini" icon="el-icon-delete" style="margin-left: 0" @click="del(inbound)"></el-button>
                    </div>
                    <el-row>
                        <el-col :sm="12">
                            IP：<el-tag>{{ ip }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            端口：<el-tag>{{ inbound.port }}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :sm="12">
                            用户ID：<el-tag>{{ client.id }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            额外id（alterId）：<el-tag>{{ client.alterId }}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :sm="12">
                            加密：<el-tag>{{ client.security ? client.security : 'auto' }}</el-tag>
                        </el-col>
                        <el-col :sm="12">
                            传输协议：<el-tag>{{ inbound.streamSettings && inbound.streamSettings.network ? inbound.streamSettings.network : 'tcp' }}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row v-if="!isEmpty(inbound.tag)">
                        <el-col :sm="12">
                            tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                        </el-col>
                    </el-row>
                </el-card>
                <el-card v-if="inbound.protocol === 'shadowsocks'
                                || inbound.protocol === 'dokodemo-door'">
                    <div slot="header">
                        <el-tag type="primary">{{ inbound.protocol }}</el-tag>
                        <el-button type="success" size="mini" icon="el-icon-edit" @click="openEdit(inbound)"></el-button>
                        <el-button type="danger" size="mini" icon="el-icon-delete" style="margin-left: 0" @click="del(inbound)"></el-button>
                    </div>
                    <!-- shadowsocks -->
                    <div v-if="inbound.protocol === 'shadowsocks'">
                        <el-row>
                            <el-col :sm="12">
                                IP：<el-tag>{{ ip }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                端口：<el-tag>{{ inbound.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                加密：<el-tag>{{ inbound.settings.method }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                密码：<el-tag>{{ inbound.settings.password }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                网络：<el-tag>{{ inbound.settings.network ? inbound.settings.network : 'tcp' }}</el-tag>
                            </el-col>
                            <el-col v-if="!isEmpty(inbound.tag)" :sm="12">
                                tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                            </el-col>
                        </el-row>
                    </div>
                    <!-- dokodemo-door -->
                    <div v-if="inbound.protocol === 'dokodemo-door'">
                        <el-row>
                            <el-col :sm="12">
                                IP：<el-tag>{{ ip }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                端口：<el-tag>{{ inbound.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                转发的地址：<el-tag>{{ inbound.settings.address }}</el-tag>
                            </el-col>
                            <el-col :sm="12">
                                转发的端口：<el-tag>{{ inbound.settings.port }}</el-tag>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :sm="12">
                                转发的底层协议：<el-tag>{{ inbound.settings.network ? inbound.settings.network : 'tcp' }}</el-tag>
                            </el-col>
                            <el-col v-if="!isEmpty(inbound.tag)" :sm="12">
                                tag标识：<el-tag type="success">{{ inbound.tag }}</el-tag>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
            </div>
        </el-card>
    </el-main>
    <!--<el-footer th:replace="v2ray/footer :: footer"></el-footer>-->

    <el-dialog :title="inDL.mode === 'add' ? '添加账号' : '修改账号'"
               :visible.sync="inDL.visible"
               width="300px" @close="clearValidates">
        <el-form :model="form" :rules="formRules"
                 ref="inForm" size="small"
                 label-position="top">
            <el-form-item label="选择协议">
                <el-select v-model="form.protocol" :disabled="inDL.mode !== 'add'">
                    <el-option label="vmess" value="vmess"></el-option>
                    <el-option label="shadowsocks" value="shadowsocks"></el-option>
                    <el-option label="dokodemo-door（端口转发）" value="dokodemo-door"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="port">
                <template slot="label">
                    端口
                    <el-button v-if="inDL.mode === 'add'" type="text" size="mini" @click="form.port = randomIntRange(10000,60000)">随机生成</el-button>
                </template>
                <el-input :disabled="inDL.mode !== 'add'" v-model.number="form.port" type="number"></el-input>
            </el-form-item>
        </el-form>
        <!-- VMess 协议 -->
        <el-form v-if="form.protocol === 'vmess'"
                 ref="vmessForm" :rules="vmessRules"
                 :model="vmess" size="small"
                 label-position="top">
            <el-form-item>
                <template slot="label">
                    用户id
                    <el-button type="text" size="mini" @click="vmess.id = randomUUID()">重新生成</el-button>
                </template>
                <el-input v-model="vmess.id" disabled></el-input>
            </el-form-item>
            <el-form-item label="额外id（alterId）" prop="alterId">
                <el-input type="number" v-model.number="vmess.alterId"></el-input>
            </el-form-item>
            <el-form-item label="加密">
                <el-select v-model="vmess.security">
                    <el-option label="auto（推荐）" value="auto"></el-option>
                    <el-option label="aes-128-gcm" value="aes-128-gcm"></el-option>
                    <el-option label="chacha20-poly1305" value="chacha20-poly1305"></el-option>
                    <el-option label="none（不推荐）" value="none"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- shadowsocks 协议 -->
        <el-form v-if="form.protocol === 'shadowsocks'"
                 ref="ssForm" :rules="ssRules"
                 :model="ss" size="small"
                 label-position="top">
            <el-form-item label="加密">
                <el-select v-model="ss.method">
                    <el-option value="chacha20"></el-option>
                    <el-option value="chacha20-ietf"></el-option>
                    <el-option value="chacha20-ietf-poly1305"></el-option>
                    <el-option value="aes-256-gcm"></el-option>
                    <el-option value="aes-128-gcm"></el-option>
                    <el-option label="aes-256-cfb（不推荐）" value="aes-256-cfb"></el-option>
                    <el-option label="aes-128-cfb（不推荐）" value="aes-128-cfb"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="password">
                <template slot="label">
                    密码
                    <el-button type="text" size="mini" @click="ss.password = randomSeq(10)">随机生成</el-button>
                </template>
                <el-input v-model.trim="ss.password"></el-input>
            </el-form-item>
            <el-form-item label="网络">
                <el-select v-model="ss.network">
                    <el-option label="tcp + udp" value="tcp,udp"></el-option>
                    <el-option value="tcp"></el-option>
                    <el-option value="udp"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- dokodemo-door 协议 -->
        <el-form v-if="form.protocol === 'dokodemo-door'"
                 ref="dokoForm" :rules="dokoRules"
                 :model="doko" size="small"
                 label-position="top">
            <el-form-item label="待转发的IP或域名" prop="address">
                <el-input v-model.trim="doko.address"></el-input>
            </el-form-item>
            <el-form-item label="转发的端口" prop="port">
                <el-input type="number" v-model.number="doko.port"></el-input>
            </el-form-item>
            <el-form-item label="转发底层协议">
                <el-select v-model="doko.network">
                    <el-option label="tcp + udp" value="tcp,udp"></el-option>
                    <el-option value="tcp"></el-option>
                    <el-option value="udp"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- streamSettings -->
        <el-form v-if="form.protocol === 'vmess'"
                 size="small"
                 label-position="top">
            <el-form-item label="底层传输">
                <el-select v-model="stream.network">
                    <el-option label="tcp（推荐）" value="tcp"></el-option>
                    <el-option label="kcp（底层使用udp协议）" value="kcp"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <!-- 其它 -->
        <el-form size="small" label-position="top">
            <el-form-item label="tag标识（可选，若不为空则必须唯一，否则会无法连接）">
                <el-input v-model.trim="form.tag"></el-input>
            </el-form-item>
        </el-form>
        <el-form size="small" label-position="top">
            <el-form-item>
                <el-button v-if="inDL.mode === 'add'" type="primary" size="small" @click="addInbound(form)" :loading="btnLoad">添加</el-button>
                <el-button v-else type="primary" size="small" @click="editInbound(form)" :loading="btnLoad">修改</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</el-container>

<div th:replace="common/common_js :: commonJs"></div>
<script src="/res/js/v2ray/accounts.js?v=2.3.0"></script>

</body>
</html>