<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<el-header th:fragment="header"
           style="background-color: #409EFF;">
    <el-menu class="hidden-xs-only"
             :default-active="location.pathname + (!location.pathname.endsWith('/') ? '/' : '')"
             mode="horizontal"
             background-color="#409EFF"
             text-color="#fff"
             active-text-color="#FFE904"
             @select="index => location = index">
        <el-menu-item th:index="${basePath} + '/v2ray/'">运行状态</el-menu-item>
        <el-menu-item th:index="${basePath} + '/v2ray/accounts/'">账号列表</el-menu-item>
        <el-menu-item th:index="${basePath} + '/v2ray/clients/'">客户端</el-menu-item>
        <el-menu-item th:index="${basePath} + '/logout/'">退出</el-menu-item>
    </el-menu>
    <el-dropdown class="hidden-sm-and-up"
                 @command="command => location.href = command"
                 style="margin-top: 20px; color: white;">
        <span class="el-dropdown-link">
            菜单 <i class="el-icon-arrow-down"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
            <el-dropdown-item th:command="${basePath} + '/v2ray/'">运行状态</el-dropdown-item>
            <el-dropdown-item th:command="${basePath} + '/v2ray/accounts/'">账号列表</el-dropdown-item>
            <el-dropdown-item th:command="${basePath} + '/v2ray/clients/'">客户端</el-dropdown-item>
            <el-dropdown-item th:command="${basePath} + '/logout/'">退出</el-dropdown-item>
        </el-dropdown-menu>
    </el-dropdown>
</el-header>

</body>
</html>